@import "reset.css";
@import "animation.css";

@font-face {
  font-family: esa;
  src: url(../fonts/esamanru\ Bold.ttf);
}

@font-face {
  font-family: esa_medium;
  src: url(../fonts/esamanru\ Medium.ttf);
}

#no-mobile {
  background-color: ivory;
  width: 1000vw;
  height: 1000vh;
  position: fixed;
  top: 0;
  z-index: 999;
  line-height: 26px;
  text-align: start;
}

:root {
  --main-color1: #E05E5E;
  --main-color2: #fbff76;
}

body {
  font-family: esa, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}






@media all and (min-width:1024px) {
  #no-mobile {
    display: none;
  }

  h1 {
    font-size: 22px;
  }

  .main {
    height: 100vh;
    background-color: var(--main-color2);
    display: flex;
  }



  .main .main-center {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .main .main-center img {
    height: 30%;
    margin: 30px 0 30px;
  }

  .main .main-center h1 {
    color: var(--main-color1);
    text-align: center;
  }

  .main-center__circle {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 80px;
  }

  .main-center__circle .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
  }

  .main-center__circle .circle:first-child {
    background-color: var(--main-color1);
    animation: circleMove 3s ease-in-out infinite;
  }

  .main-center__circle .circle:last-child {
    background-color: var(--main-color2);
    animation: circleMove2 3s ease-in-out infinite;
  }

  .main .main-center .main-center__container {
    background-color: var(--main-color1);
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;

  }

  .main .main-center .main-center__container h1 {
    color: var(--main-color2);
    font-family: esa_medium;
    margin-top: 20px;
  }

  .main .main-center .main-center__container h1:first-child {
    margin-top: 120px;
    font-size: 44px;
  }

  .main .main-center .main-center__container h1:nth-child(2) {
    margin-top: 70px;
  }

  .main .main-left {
    overflow: hidden;
  }

  .main .main-left img {
    width: 100%;
  }

  .main .main-right {
    background-color: var(--main-color1);
    overflow: hidden;
  }

  .main .main-right img {
    width: 100%;
  }


  /* 프로필 */
  .profile {
    width: calc(466.66px * 3);
    left: 50%;
    margin-left: -700px;
    height: 1400px;
    position: relative;
  }


  .profile .content__name {
    position: absolute;
    width: 230px;
    top: 380px;
    left: 150px;
  }

  .profile .content__info {
    position: absolute;
    top: 200px;
    right: 0;
    width: 800px;
  }


  .profile .cut {
    width: 80%;
    height: 30px;
    border-radius: 24px;
    background-color: var(--main-color1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto 100px;
  }


  /* 슬라이드 링크 */

  .slide {
    background-color: teal;
    width: calc(500px * 3);
    left: 50%;
    margin-left: -750px;
    margin-top: 50px;
    margin-bottom: 400px;
    position: relative;
  }

  .slide img {
    margin-left: 50px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 0;
  }

  .slide .slide-tok {
    background-image: url(../img/tok.png);
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .slide .color-box {
    width: 0;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: .6s;
  }

  .slide .slide-tok .color-box img {
    z-index: 1;
  }

  .slide .slide-tok:hover .color-box {
    opacity: .4;
    width: 100%;
  }

  .slide .slide-tok:hover img {
    opacity: 1;
  }

  .slide .slide-logo__db {
    background-image: url(../img/logodesign.png);
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .slide .slide-logo__db:hover .color-box {
    opacity: .4;
    width: 100%;
  }

  .slide .slide-logo__db:hover img {
    opacity: 1;
  }

  .slide .slide-logo__pbm {
    background-image: url(../img/pbm_logo.png);
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .slide .slide-logo__pbm:hover .color-box {
    opacity: .4;
    width: 100%;
  }

  .slide .slide-logo__pbm:hover img {
    opacity: 1;
  }



  /* 합성 */


  .pme {
    margin: 0 auto;
    width: calc(750px * 2);
    left: 50%;
    margin-left: -750px;
    height: 900px;
    position: relative;
    overflow: hidden;
  }

  .pme h1 {
    font-size: 80px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    width: calc(1140px * 2);
    margin-left: -1140px;
    display: flex;
    justify-content: center;
    color: var(--main-color1);
    text-shadow: 0 8px 0px var(--main-color2), 0 20px 20px rgba(0, 0, 0, .2);
  }

  .pme img {
    width: 100%;
  }

  .pme .swiper-container {
    margin-top: 200px;
    position: absolute;
    width: calc(750px * 3 + 30px);
    overflow: hidden;
    left: 50%;
    margin-left: calc((750px * 3 + 30px) / -2);
    border: 4px double var(--main-color1);
  }

  .pme .swiper-container .swiper-slide {
    height: 470px;
    opacity: .6;
    overflow: hidden;
  }

  .pme .swiper-container .swiper-slide-active {
    opacity: 1;
  }

  .pme .swiper-prev,
  .pme .swiper-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(251, 255, 118, .6);
    top: 430px;
    cursor: pointer;
    z-index: 1;
  }

  .pme .swiper-prev .material-icons,
  .pme .swiper-next .material-icons {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color1);
  }

  .pme .swiper-prev {
    left: 50%;
    margin-left: -450px;
  }

  .pme .swiper-next {
    right: 50%;
    margin-right: -450px;
  }

  .pme .swiper-pagination {
    top: 730px;
  }

  .pme .swiper-pagination .swiper-pagination-bullet {
    background-color: black;
    width: 20px;
    height: 20px;
    margin-right: 100px;
  }

  .pme .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
  }

  .pme .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--main-color2);
    border: 4px solid var(--main-color1);
  }
}





/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {}