.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.back-to-position.delay {
  transition-delay: 0;
}

.back-to-position.delay2 {
  transition-delay: .3s;
}

.back-to-position.delay3 {
  transition-delay: .6s;
}

.back-to-position.delay4 {
  transition-delay: transform .9s;
}